<!DOCTYPE html>
<html>
  <head>
    <title>GreenBeltBalla</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src="https://maps.googleapis.com/maps/api/js"></script>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <div id="nav" class="btn btn-primary">
    <% if current_user %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path, id: "register", remote: true %></div> |
      <div id="log" class="btn btn-success">
      <%= link_to "Login", :login, id: "login", remote: true %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>

  </body>
</html>